#container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#map {
  width: 70%;
  height: 700px;
  margin: 10px;
  border-radius: 10px;
}

.marker {
  margin-top: 10px;
  border: 1px solid black;
}
#deleteButton {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin-left: 30px;
}
#deleteButton:hover {
  background-color: red;
}
.showMarkers {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 680px;
  margin-right: 10px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.header {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.markerList {
  max-height: 700px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.markerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.markerLabel {
  font-weight: bold;
  color: #333;
}

.clearButton {
  width: 50%;
  padding: 10px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.clearButton:hover {
  background-color: #ff3c3c;
}
